<h1 class="text-4xl font-extrabold underline text-center text-blue-600 my-6">
  Contacts
</h1>

@if (contacts$ | async; as contacts) {
@if (contacts.length > 0) {

  @if(isEditing){
<form (ngSubmit)="isEditing ? editContact() : addContact()" class="space-y-4">
  <input
    type="text"
    name="name"
    [(ngModel)]="editContactName"
    placeholder="Imię i nazwisko"
    required
    class="border p-2 rounded w-full"
  />
  <input
    type="text"
    name="number"
    [(ngModel)]="editContactNumber"
    placeholder="Numer telefonu"
    required
    class="border p-2 rounded w-full"
  />

  <button
    type="submit"
    class="bg-blue-600 text-white px-4 py-2 rounded hover:bg-blue-700"
  >
    {{ isEditing ? 'Zapisz zmiany' : 'Dodaj kontakt' }}
  </button>
</form>
  }

<table class="table-auto w-full border border-gray-300 shadow-md rounded-lg overflow-hidden">
  <thead class="bg-gray-100 text-gray-700">
    <tr>
      <th class="px-4 py-2 border-b">Nazwa</th>
      <th class="px-4 py-2 border-b">Numer</th>
      <th class="px-4 py-2 border-b">Akcje</th>
    </tr>
  </thead>
  <tbody class="bg-white divide-y divide-gray-200">
    @for (item of contacts; track $index) {
    <tr class="hover:bg-gray-50">
      <td class="px-4 py-2">{{ item.name }}</td>
      <td class="px-4 py-2">{{ item.number }}</td>
      <td><button (click)="removeContact(item.id)" class="m-2 text-red-600 hover:text-red-800 text-sm font-medium">
          Usuń
        </button>

        <button (click)="editBtn(item.id)" class="m-2 text-blue-600 hover:text-blue-800 text-sm font-medium" >
          Edytuj
        </button>
        </td>
    </tr>
    }
  </tbody>
</table>
} @else {
<div class="mt-4 text-red-600 text-center font-medium">
  Nie znaleziono kontaktów
</div>
}
}

<form (ngSubmit)="addContact()" #jobForm="ngForm">
  <input type="text" name="name" [(ngModel)]="contactName" placeholder="Nazwa kontaktu" required
    class="border p-2 rounded" />
    <input type="text" name="number" [(ngModel)]="contactNumber" placeholder="numer" required
    class="border p-2 rounded" />
  <button type="submit" class="bg-blue-600 text-white px-4 py-2 rounded mt-2">
    Wyślij
  </button>
</form>